body, html{
  width: 99%;
  height: 100%;
}
body{
    background: url(/static/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
ul{list-style: none; margin: 0 0; padding: 0 0;}
.lead{font-size: 25px;}
.row{margin: 0 0; padding: 0 0;}
.turn{font-size: 50px; margin: 0 0; text-align: center; padding-top: 50px;}
/*-------------------
CATEGORIES.html
-------------------*/
.categories{
  height: 100%;
  width: 100%;
  background: url(/static/img/bg.jpg);
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-position: center center;
  text-align: center;
}
.categories h1{
    margin: 0 0;
    color: white;
    padding-top: 15%;
    font-size: 70px;
    font-family: "Gugi",cursive;
}
#box{
  margin: 30px 35%;
}
.mybtn{
  font-size: 30px;
  background: orange;
  border-radius: 20px;
}
.disabled{background: #b3b3b3;}

/*-------------------
CHALLENGES.html
-------------------*/
#pulse{height: 350px}
#biglogo{height: 130px; margin: 0 0%; margin-bottom: 40px;}
#rate{width: 300px;}
.challenge_room{text-align: center;}
.name{
  color: white; font-style: normal; font-weight: bold; font-family: "gugi"; font-size: 90px;
  margin: 0 0;
  padding: 2% 0;
  }
.challenge_room_form{margin-top: 5%;}
.challenge_room_form h2{
    font-family: 'Gugi', cursive;
    color: #FEDB4C;
    font-size: 50px;
}

/*-------------------
FITNESS CHALLENGE
-------------------*/
.fitness_chal{text-align: center;}
.fitness_chal h1{font-size: 60px;}
.fitness_chal h2{font-size: 40px;}
.fitness_chal_body{margin-top: 10%;}
.hb{height: 100px;}

/*-------------------
TRIVIA
-------------------*/
.trivia{text-align: center;}
.trivia h1{
  font-family: 'Gugi', cursive;
  color: white;
  font-size: 50px;
  margin: 0 0;
  padding: 30px 0;
}
.trivia h2{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: #93DE74;
  font-size: 60px;
  padding: 80px 0 ;
}
/*.trivia h3{color: white; font-size: 30px; margin: 0 0;}*/
.trivia span{
  background: orange;
  padding: 0 150px;
  color: white;
  border-radius: 25px;
  font-size: 45px;
}
#trivia_logo {text-align: left; height: 100px; float: left; padding-left: 30px;}
.answer{
  padding: 50px 0;
}

/*-------------------
LOBBY.html
-------------------*/
.waiting_room h1{
  font-family: 'Gugi', cursive;
  color: white;
  font-size: 65px;
  margin: 0 5%;
  padding-top: 50px;
}
#wifi{
  height: 500px;
  margin-top: 15%;
}
.waiting_room_form{
  padding-top: 2%;
  color: white;
}
.waiting_room_form h2{
  font-family: 'Gugi', cursive;
  color: #93DE74;
  font-size: 40px;
}
.waiting_room_form li{
  background-color: orange;
  border-radius: 25px;
}
#admin{
  height: 20px;
  margin: 0 1%;
  margin-bottom: 0.3%
}
.list{
  margin: 5% 15%;
  width: 70%;
  text-align: center;
}
#buffering{
  height: 50px;
}
.central_field{margin: 5% 0; text-align: center;}
#join{background: #93DE74; color: white; border-radius: 25px; padding: 0 20px;}