<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="HOMMY">
    <meta name="author" content="lore-lml">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>HOMMY</title>
</head>
<body>
    {% if active == False %}
        <!--
        <div class="challenge">
            <h1 id="{{ res['id'] }}">{{ res['name'] }} - {{ res['description'] }}</h1>
            <button class="btn btn-primary" id="play">PLAY</button>
            <button class="btn btn-primary" id="stop">STOP</button>
        </div>
        -->

        <div class="challenge_room">
            <h1 class="name"><img src="{{ url_for('static', filename='img/hommy_logo.png') }}" alt="HOMMY" id="biglogo">O M M Y</h1>

            <div class="row challenge_room_form">
                {% if res['id'] == 1 %}
                    <div class="col-md-3">
                        <img src="{{ url_for('static', filename='img/pulse.png') }}" alt="pulse" id="pulse">
                    </div>
                    <div class="col-md-6">
                        <h2>{{ res['name'] }}</h2>
                        <p class="lead">{{ res['description'] }}</p>
                    </div>
                    <div class="col-md-3">
                        <img src="{{ url_for('static', filename='img/heartbeat.gif') }}" alt="rate" id="rate">
                    </div>
                {% elif  res['id'] == 2 %}
                    <div class="col-md-3">
                        <img src="{{ url_for('static', filename='img/microphone.png') }}" alt="pulse" id="pulse">
                    </div>
                    <div class="col-md-6">
                        <h2>{{ res['name'] }}</h2>
                        <p class="lead">{{ res['description'] }}</p>
                    </div>
                    <div class="col-md-3">
                        <img src="{{ url_for('static', filename='img/songman.gif') }}" alt="rate">
                    </div>
                {% elif  res['id'] == 3 %}
                    <div class="col-md-3">
                        <img src="{{ url_for('static', filename='img/dance.png') }}" alt="pulse" id="pulse">
                    </div>
                    <div class="col-md-6">
                        <h2>{{ res['name'] }}</h2>
                        <p class="lead">{{ res['description'] }}</p>
                    </div>
                    <div class="col-md-3">
                        <img src="{{ url_for('static', filename='img/dancingman.gif') }}" alt="rate">
                    </div>
                {% elif  res['id'] == 4 %}
                    <div class="col-md-3">
                        <img src="{{ url_for('static', filename='img/music.png') }}" alt="pulse" id="pulse">
                    </div>
                    <div class="col-md-6">
                        <h2>{{ res['name'] }}</h2>
                        <p class="lead">{{ res['description'] }}</p>
                    </div>
                    <div class="col-md-3">
                        <img src="{{ url_for('static', filename='img/notes.gif') }}" alt="rate">
                    </div>
                {% endif %}

            </div>
            <h2>Press <span id="join">START</span> on your app to begin!</h2>
        </div>

    {% elif info != '' %}
        <div class="trivia" resource = {{ info[7] }}>
            <h1 id="{{ info[0] }}"><img id="trivia_logo" src="{{ url_for('static', filename='img/hommy_logo.png') }}" alt="">{{ res['name'] }}</h1>
            <h2 id="{{ info[1] }}">{{ info[2] }}</h2>
            <div class="row">
                <div class="col-md-6 answer">
                    <span class="lead">A) {{ info[3] }}</span>
                </div>
                <div class="col-md-6 answer">
                    <span class="lead">B) {{ info[4] }}</span>
                </div>
            </div>
            {% if size_info >= 3 %}
                <div class="row">
                    <div class="col-md-6 answer">
                        <span class="lead">C) {{ info[5] }}</span>
                    </div>
                    <div class="col-md-6 answer">
                        <span class="lead">D) {{ info[6] }}</span>
                    </div>
                </div>
            {% endif %}
            <h3>Choose the correct answer on your App</h3>
        </div>
    {% else %}
        <h1>CIAO CIAO CIAO</h1>
    {% endif %}
    <h3 class="turn">Turn:
        {% for p in players %}
            {{ p }}
        {% endfor %}
    </h3>


<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/chal.js') }}" type="text/javascript"></script>
</body>
</html>